In [1]:
import kaggle

In [2]:
!kaggle datasets download shivamb/netflix-shows

Dataset URL: https://www.kaggle.com/datasets/shivamb/netflix-shows
License(s): CC0-1.0

In [3]:
import zipfile
zip_ref = zipfile.ZipFile('netflix-shows.zip') 
zip_ref.extractall() # extract file to dir
zip_ref.close()

In [9]:
import pandas as pd

df = pd.read_csv("netflix_titles.csv")
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [10]:
#load the data into sql server using replace option
import sqlalchemy as sal

# Replace these values with your actual MySQL credentials
username = "root"
password = "1234"
host = "localhost"           # or your MySQL server address
port = "3306"                # default MySQL port
database = "practice"

# Create SQLAlchemy engine
engine = sal.create_engine(
    f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}"
)

# Connect
conn = engine.connect()

In [6]:
df.to_sql('netflix_titles',con=conn, index=False,if_exists='append')

8807

In [11]:
df[df.show_id =='s5023']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5022,s5023,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...

In [12]:
#  Check max string lengths per column
string_cols = df.select_dtypes(include='object')
print(string_cols.apply(lambda x: x.str.len().max()))

# Check max values for numeric columns
numeric_cols = df.select_dtypes(include='number')
print(numeric_cols.max())

show_id          5.0
type             7.0
title          104.0
director       208.0
cast           771.0
country        123.0
date_added      19.0
rating           8.0
duration        10.0
listed_in       79.0
description    248.0
dtype: float64
release_year    2021
dtype: int64